/* Banners */
.banners {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner {
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    background-color: var(--white);
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.top-banner img {}

.bottom-banner img {}

/* Carousel Styles */
.carousel-container {
    position: relative;
    overflow: hidden;
    /* Ховаємо те, що виходить за межі */
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.carousel-slide {
    flex: 0 0 100%;
    width: 100%;
}

.carousel-slide a {
    display: block;
    height: 100%;
}

.carousel-slide img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    border: none;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    z-index: 10;
}

.carousel-btn img {
    width: 20px;
    height: 20px;
}

.next-btn img {
    transform: scaleX(-1);
}

.carousel-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.prev-btn {
    left: 15px;
}

.next-btn {
    right: 15px;
}

.carousel-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
}

.dot.active {
    background-color: var(--primary-color);
    transform: scale(1.2);
}